{% extends "base.html" %}

{% block title %}User group attendance{% endblock %}

{% block content %}
<h3>Посещаемость</h3>
{% for timetable in timetable_list%}
<a href="{{timetable.id}}">{{timetable.date}}</a>
{% endfor %}
<table border="1" cellpadding="4" cellspacing="0">
    <tr>
        <td>Дни недели</td>
        {% for name in days_name%}
        <td colspan="{{max_classes_in_day}}">{{name}}</td>
        {% endfor %}
   </tr>
    <tr>
        <td>Дата</td>
        {% for day in days %}
        <td colspan="{{max_classes_in_day}}">{{day}}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Форма занятий</td>
        {% for subjects_of_day in subjects %}
            {% for subject in subjects_of_day %}
                {% if subject != None %}
                    <td><SPAN STYLE="writing-mode: vertical-lr;-ms-writing-mode: tb-rl;transform: rotate(180deg);">
                        {{subject.type.name}}</SPAN>
                    </td>
                {% else %}
                    <td></td>
                {% endif%}
            {% endfor %}
        {% endfor %}
    </tr>
    <tr>
        <td>Студент/Название</td>
        {% for subjects_of_day in subjects %}
            {% for subject in subjects_of_day %}
                <td><SPAN STYLE="writing-mode: vertical-lr;-ms-writing-mode: tb-rl;transform: rotate(180deg);">
                    {{subject.name.short_name}}</SPAN>
                </td>
            {% endfor %}
        {% endfor %}
   </tr>
    {% for all_students_presence in attendance %}
    <tr>
        {% for student_presence in all_students_presence %}
        <td>{{student_presence}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/timetable.js' %}"></script>
{% endblock %}